.version.others /* version checker */
{
	color: #0000E6;
	background-color: #E2BD85;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -5px;
	padding-bottom: 364px;
	width: 0.01px;
}

#u115
{
	z-index: 2;
	width: 157px;
	height: 60px;
	margin-left: 566px;
}

#u166-4
{
	z-index: 42;
	margin-left: 601px;
	top: -6px;
	margin-bottom: -6px;
}

#pu117
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 13px;
}

#u117
{
	z-index: 3;
	width: 1240px;
	margin-right: -10000px;
}

#u121
{
	z-index: 4;
	width: 1240px;
	height: 43px;
	margin-bottom: -19px;
	margin-right: -10000px;
	margin-top: 25px;
}

#menuu122
{
	z-index: 5;
	width: 1240px;
	margin-right: -10000px;
	margin-top: 13px;
}

#u123
{
	width: 205px;
	min-height: 43px;
	margin-right: -10000px;
}

#u124
{
	width: 205px;
	padding-bottom: 26px;
}

#u124:active
{
	width: 205px;
	min-height: 0px;
	margin: 0px;
}

#u127-4
{
	width: 205px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u124:hover #u127-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 205px;
	margin: 0px -10000px 0px 0px;
}

#u124:active #u127-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 205px;
	margin: 0px -10000px 0px 0px;
}

#u130
{
	width: 205px;
	min-height: 43px;
	margin-right: -10000px;
	left: 207px;
}

#u133
{
	width: 205px;
	padding-bottom: 26px;
}

#u124.MuseMenuActive,#u133:active
{
	width: 205px;
	min-height: 0px;
	margin: 0px;
}

#u134-4
{
	width: 205px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u124.MuseMenuActive #u127-4,#u133:hover #u134-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 205px;
	margin: 0px -10000px 0px 0px;
}

#u133:active #u134-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 205px;
	margin: 0px -10000px 0px 0px;
}

#u138
{
	width: 205px;
	min-height: 43px;
	margin-right: -10000px;
	left: 414px;
}

#u139
{
	width: 205px;
	padding-bottom: 26px;
}

#u133.MuseMenuActive,#u139:active
{
	width: 205px;
	min-height: 0px;
	margin: 0px;
}

#u141-4
{
	width: 205px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u133.MuseMenuActive #u134-4,#u139:hover #u141-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 205px;
	margin: 0px -10000px 0px 0px;
}

#u139:active #u141-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 205px;
	margin: 0px -10000px 0px 0px;
}

#u145
{
	width: 205px;
	min-height: 43px;
	margin-right: -10000px;
	left: 621px;
}

#u148
{
	width: 205px;
	padding-bottom: 26px;
}

#u139.MuseMenuActive,#u148:active
{
	width: 205px;
	min-height: 0px;
	margin: 0px;
}

#u151-4
{
	width: 205px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u139.MuseMenuActive #u141-4,#u148:hover #u151-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 205px;
	margin: 0px -10000px 0px 0px;
}

#u148:active #u151-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 205px;
	margin: 0px -10000px 0px 0px;
}

#u152
{
	width: 205px;
	min-height: 43px;
	margin-right: -10000px;
	left: 828px;
}

#u153
{
	width: 205px;
	padding-bottom: 26px;
}

#u148.MuseMenuActive,#u153:active
{
	width: 205px;
	min-height: 0px;
	margin: 0px;
}

#u154-4
{
	width: 205px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u148.MuseMenuActive #u151-4,#u153:hover #u154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 205px;
	margin: 0px -10000px 0px 0px;
}

#u153:active #u154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 205px;
	margin: 0px -10000px 0px 0px;
}

#u159
{
	width: 205px;
	min-height: 43px;
	margin-right: -10000px;
	left: 1035px;
}

#u160
{
	width: 205px;
	padding-bottom: 26px;
}

#u153.MuseMenuActive,#u160:active
{
	width: 205px;
	min-height: 0px;
	margin: 0px;
}

#u160.MuseMenuActive
{
	width: 205px;
	min-height: 0px;
	margin: 0px;
}

#u161-4
{
	width: 205px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u153.MuseMenuActive #u154-4,#u160:hover #u161-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 205px;
	margin: 0px -10000px 0px 0px;
}

#u160:active #u161-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 205px;
	margin: 0px -10000px 0px 0px;
}

#u160.MuseMenuActive #u161-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 205px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 1280px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

